
<section class="video-sec-area pb-100 pt-40" id="about">
    <div class="container">
        <div class="row justify-content-start align-items-center">
            <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
                <div class="overlay overlay-bg"></div>
                <img class="img-fluid" src="assets/img/Funda-tres.png" alt="Funda-tres">
            </div>						
            <div class="col-lg-6 video-left">
                <h1>Productos SAN</h1>
                <h6>Una dulce tradición</h6><br>
                <p class="text-justify" id="historia">
                    Fundada en 1985 por el Sr.José Ignacion Amboya padre del actual propietario, en el año 1995 se crea como microempresa, 
                    contratando como trabajadores al Sr. Juan Amboya y Samuel Amboya. <br>
                    En año 2010 el Sr. Abran Amboya trasfiere derechos del negocio al Sr. Samuel Amboya, en la actualidad cuentan con tres 
                    productos: pan de sal, de dulce integral y los mojicones “Dulce Sabor”, que son distribuidos en diferentes supermercados en la ciudad de Riobamba. 
                </p> 
            </div>
        </div>
    </div>	
</section>