<!-- Start menu Area -->
<section class="menu-area section-gap" id="coffee">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-10">
                <div class="title text-center">
                    <h1 class="mb-10">Donde encontrar nuestros productos</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>						
        <div class="row" >
            <div class="col-lg-4" *ngFor="let pventa of pventas | paginate: { itemsPerPage: 6, currentPage: pageActual, totalItems: tamanTotal }">
                <div class="single-menu">
                    <div class="title-div justify-content-between d-flex">
                        <h4>{{pventa.nombrePventa}}</h4>
                        <!--<p class="price float-right">
                            $50
                        </p>-->
                    </div>
                    <p>
                        {{pventa.direccionPventa}}
                    </p>								
                </div>
            </div>
            <div>
                <pagination-controls class="my-pagination text-center" (pageChange)="pageActual = $event" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>				
            </div>            
        </div>
    </div>	
</section>
<!-- End menu Area -->