<!-- start footer Area -->		
<footer class="footer-area section-gap" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget">
                    <h6>Sobre Nosotros</h6>
                    <p>
                        Disfruta de unos deliciosos Mojicones "Dulce Sabor" y compartelos en familia.
                    </p>
                    <br>
                    <div class="row">
                        
                        <h6>Realiza tus pedidos a los numeros:</h6>
                        <div class="col-lg-1 col-md-1">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="col-lg-3 col-md-1">
                           <p id="telefono">098687154-7</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="col-lg-3 col-md-1">
                            <p id="telefono">098312577-5</p>
                        </div>
                    </div>								
                </div>
            </div>
            <div class="col-lg-6  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Siguenos en Facebook</h6>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>						
        </div>
    </div>
</footer>	
<!-- End footer Area -->